pydantic-settings
fastapi
uvicorn[standard]
pydantic
langchain
langchain-openai
langchain-core
langchain-community
openai
httpx
sqlalchemy
asyncpg
pgvector
fastapi-mail
numpy
python-dotenv
loguru
faiss-cpu
langchain-text-splitters
pypdf
beautifulsoup4
redis
langchain-redis